<title>Testpage1</title>

<link rel="stylesheet" href="{{ mainCssPath }}">

{% for jsPlugin in jsPlugins %}
    <script src="{{ templateDir }}{{ jsPlugin }}"></script>
{% endfor %}

    {% for jsPlugin in jsRoutePlugins %}
    <script src="{{ templateDir }}{{ jsPlugin }}"></script>
{% endfor %}
